---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

  </body>

  <body style="display: flex; justify-content: center; height: 100vh; margin: 0;">
    <a href="https://clustrmaps.com/site/1c4aw" title="ClustrMaps" style="width: 50%; display: flex; justify-content: center;">
        <img src="//www.clustrmaps.com/map_v2.png?d=vuFAFJLWhTdJOIf_V0wHWlT0iceXR4ZidCXqBX2pSB8&cl=ffffff" alt="ClustrMaps" style="max-width: 100%; height: auto;" />
    </a>
</body>

  <body>
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
